<header class="header">
    <div class="top-header">

        <!-- Logo de Quintas Colombia -->
        <div class="logo-qc">
            <img src="assets/images/logo-QC-transparente.png" alt="Quintas Colombia">
        </div>

        <!-- Menú de navegación -->
        <nav class="menu">
            <ul class="list">
                <li>
                    <a routerLink="/" routerLinkActive="active">Inicio</a>
                </li>
                <li>
                    <a routerLink="/properties" routerLinkActive="active">Propiedades</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contacto</a>
                </li>
            </ul>
        </nav>

        <!-- Login -->
        <div class="right">
            <a routerLink="/login" class="btn-login">Login</a>
        </div>

    </div>
</header>