/* IMPORTS GLOBALES */
@import "./styles/normalize.css";
@import "./styles/variables.css";

/* ---------------BASE--------------- */
html {
    font-size: var(--font-base);
}

body {
    font-family: var(--font-secondary);
    background-color: black;
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

